<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .card {
        width: 200px;
        background: #cccccc;
        padding: 10px;
        margin: 5px;
      }

      .panel{
        width: 300px;
        border: 1px solid #999;
      }

      .panel >*{
        padding: 15px;
      }

      .panel .title{
        border-bottom: 1px solid #999;
      }

      .panel .footer{
        border-top: 1px solid #999;
      }
    </style>
  </head>
  <body>
    <!-- ************************************** 过滤器 **************************************  -->
    <!-- <div id="app">
      <div>
        <input type="text" v-model="length" />mm
        <br />
        {{ length | meter }}
      </div>
      <hr />
      <div>
        <input type="text" v-model="price" />￥
        <br />
        {{ price | currency }}
      </div>
    </div> -->

    <!-- ************************************** 自定义指令 **************************************  -->
    <!-- <div id="app">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      inventore rerum molestias iusto nobis accusantium deleniti quod,
      voluptatum doloremque ad voluptatem, est illum veniam eaque alias sint!
      Sint, dolorem nemo. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Deserunt inventore rerum molestias iusto nobis accusantium deleniti
      quod, voluptatum doloremque ad voluptatem, est illum veniam eaque alias
      sint! Sint, dolorem nemo. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Deserunt inventore rerum molestias iusto nobis
      accusantium deleniti quod, voluptatum doloremque ad voluptatem, est illum
      veniam eaque alias sint! Sint, dolorem nemo. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Deserunt inventore rerum molestias iusto
      nobis accusantium deleniti quod, voluptatum doloremque ad voluptatem, est
      illum veniam eaque alias sint! Sint, dolorem nemo.
      <div v-pin:bg_yellow.bottom.right="card1.pinned" class="card">
          <button @click="card1.pinned = !card1.pinned">钉住/取消</button>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptate
      accusamus voluptates accusantium debitis quidem aspernatur mollitia
      deleniti nisi ut fugit quas vitae repellat nihil rem quibusdam et
      consequuntur velit. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Dolor, voluptate accusamus voluptates accusantium debitis quidem
      aspernatur mollitia deleniti nisi ut fugit quas vitae repellat nihil rem
      quibusdam et consequuntur velit. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Dolor, voluptate accusamus voluptates accusantium
      debitis quidem aspernatur mollitia deleniti nisi ut fugit quas vitae
      repellat nihil rem quibusdam et consequuntur velit. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Dolor, voluptate accusamus voluptates
      accusantium debitis quidem aspernatur mollitia deleniti nisi ut fugit quas
      vitae repellat nihil rem quibusdam et consequuntur velit.
      <div v-pin.top="card2.pinned" class="card">
          <a href="#" @click="card2.pinned = !card2.pinned">点我</a>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        maxime!
      </div>
      <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, amet atque
            cumque at nulla molestias facilis reprehenderit laborum accusamus iusto
            excepturi, nostrum inventore dignissimos! Assumenda, voluptate. Impedit
            dolor nulla at. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quasi, amet atque cumque at nulla molestias facilis reprehenderit laborum
            accusamus iusto excepturi, nostrum inventore dignissimos! Assumenda,
            voluptate. Impedit dolor nulla at. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quasi, amet atque cumque at nulla molestias facilis
            reprehenderit laborum accusamus iusto excepturi, nostrum inventore
            dignissimos! Assumenda, voluptate. Impedit dolor nulla at. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quasi, amet atque cumque at
            nulla molestias facilis reprehenderit laborum accusamus iusto excepturi,
            nostrum inventore dignissimos! Assumenda, voluptate. Impedit dolor nulla
            at.
      </div>
      <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, amet atque
            cumque at nulla molestias facilis reprehenderit laborum accusamus iusto
            excepturi, nostrum inventore dignissimos! Assumenda, voluptate. Impedit
            dolor nulla at. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quasi, amet atque cumque at nulla molestias facilis reprehenderit laborum
            accusamus iusto excepturi, nostrum inventore dignissimos! Assumenda,
            voluptate. Impedit dolor nulla at. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quasi, amet atque cumque at nulla molestias facilis
            reprehenderit laborum accusamus iusto excepturi, nostrum inventore
            dignissimos! Assumenda, voluptate. Impedit dolor nulla at. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quasi, amet atque cumque at
            nulla molestias facilis reprehenderit laborum accusamus iusto excepturi,
            nostrum inventore dignissimos! Assumenda, voluptate. Impedit dolor nulla
            at.
      </div>
      <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, amet atque
            cumque at nulla molestias facilis reprehenderit laborum accusamus iusto
            excepturi, nostrum inventore dignissimos! Assumenda, voluptate. Impedit
            dolor nulla at. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quasi, amet atque cumque at nulla molestias facilis reprehenderit laborum
            accusamus iusto excepturi, nostrum inventore dignissimos! Assumenda,
            voluptate. Impedit dolor nulla at. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quasi, amet atque cumque at nulla molestias facilis
            reprehenderit laborum accusamus iusto excepturi, nostrum inventore
            dignissimos! Assumenda, voluptate. Impedit dolor nulla at. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quasi, amet atque cumque at
            nulla molestias facilis reprehenderit laborum accusamus iusto excepturi,
            nostrum inventore dignissimos! Assumenda, voluptate. Impedit dolor nulla
            at.
      </div>
    </div> -->

    <!-- ************************************** 混合 mixins **************************************  -->
    <!-- <div id="app">
      <tooltip></tooltip>
      <popup></popup>
    </div> -->


    <!-- ************************************** 插槽 slot **************************************  -->
    <div id="app">
      <panel>
        <div slot="title">标题</div>
        <div slot="content">
          Yo.
          Yo.
          Yo.
        </div>
      </panel>
    </div>

    <template id="panel-tpl">
        <div class="panel">
            <div class="title">
                <slot name="title"></slot>  
            </div>
            <div class="content">
                <slot name="content">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum a sint iste eius, repellat quos itaque, quod reiciendis odit laboriosam nesciunt voluptates sapiente deserunt sunt fugit odio libero dolorem.
                </slot>  
            </div>
            <div class="footer">
              <slot name="footer">更多信息</slot>  
            </div>
          </div>
    </template>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
