/* 元素选择器 */
p {
    color: gray;
    background: gold;
}

h1 {
    color: gray;
    background: black;
    border: 2px solid red;
}

/* 类选择器 */
/* class="red" */
.red {
    color: red;
}

.bold {
    font-weight: 900;
}

/* class="red bold" */
.red.bold {
    background: pink;
    border: 4px solid blue;

}

/* id选择器  定位页面中唯一的元素*/
/* id="logo" */
#logo {
    color: gray;
    font-weight: 900;
}

/* 属性选择器 */
/* ^匹配开始的title */
/* $匹配结束的title */
[title^="点击"] {
    /* title即提示或者注释的意思 */
    color: green;
    /* border: 2px solid #000; */
    /* border: 1px dashed #000; */
}

a[href] {
    color: red;
}

a[href^="http://taobao.com"] {
    color: green;
}

.button,
input[type="submit"] {
    border: 0;
}

input[type="text"] {
    width: 60%;
    padding: 5px;
}

/* 后代选择器*/
div {
    padding: 10px;
    background: rgba(255, 0, 0, 0.2);
    /* a：0.2透明度*/
}

/* *：a类下所有类 */
/* .b：a类下的b类 */
.a * {
    border: 2px solid black;
}